
/* Reset des marges et des rembourrages */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  /* Style du corps de la page */
  body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
  }
  
  /* Style du header */
  header {
	background-color: #333;
	color: #fff;
	padding: 20px;
  }
  
  .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .navbar-logo {
	color: #fff;
	font-size: 24px;
	text-decoration: none;
  }
  
  .navbar-menu {
	list-style: none;
	display: flex;
  }
  
  .navbar-item {
	margin-right: 10px;
  }
  
  .navbar-link {
	color: #fff;
	text-decoration: none;
  }
  
  /* Style du main */
  main {
	padding: 20px;
  }
  
  .about-content {
	display: flex;
	flex-direction: row;
	align-items: center;
  }
  
  .about-text {
	flex: 1;
	padding-right: 20px;
  }
  
  .about-image {
	flex: 1;
	text-align: right;
  }
  
  .about-image img {
	max-width: 100%;
	height: auto;
  }
  
  /* Style du footer */
  footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
  }
  